#pageList ul {
    list-style: none;
    border-radius: 4px;
}

/* PageNo */
#pageList li {
    float: left;
    border: 1px solid #979797;
    border-left-width: 0px;
}
/* Last round corner */
#pageList li:last-child {
    border-radius: 0px 4px 4px 0px;
}
/* First round corner */
#pageList li:first-child {
    border-radius: 4px 0px 0px 4px;
    border-left-width: 1px;
}
/* Previous Next First Last page */
#pageList li span {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #979797;
    cursor: pointer;
}

/* chosen li */
#pageList .active {
    background: #4a4a4a;
}
#pageList .active a {
    color: #fff;
    cursor: default;
}

#pageList a {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #979797;
}

#pageList .paginationJump {
    float: right;
    height: 22px;
    margin: 20px 0px 20px 10px;
}

#pageList {
    color: #979797;
}

#pageList .paginationJump button {
    min-width: 40px;
    padding: 0px;
    color: #979797;
}

#pageList .paginationJump input {
    margin: 0px 5px;
    width: 50px;
    height: 22px;
}